.card {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
}

h4 {
    color: #DD2D4A;
}

img {
    width: 45px;
    height: 45px;
    background-color: #DD2D4A;
    border-radius: 50%;
}