.support-icon {
    width: 55px;
    height: 55px;
    background-color: #118FC9;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}